<%= image_tag @post_image.get_image %>
<p>ユーザープロフィール画像</p>
<%= image_tag @post_image.user.get_profile_image(100,100) %>
<p>ショップ名</p>
<%= @post_image.shop_name %>
<p>説明</p>
<%= @post_image.caption %>
<p>ユーザーネーム</p>
<%= @post_image.user.name %>
<p>投稿日時</p>
<%= @post_image.created_at.strftime('%Y/%m/%d') %>
<% if @post_image.user == current_user %>
  <%= link_to '削除',post_image_path, method: :delete , data: {confirm: 'Are you sure?'} %>
<% end %>

<% if @post_image.favorited_by?(current_user) %>
  <%= link_to post_image_favorite_path(@post_image.id), method: :delete do %>
    ♥<%= @post_image.favorites.count %>いいね
  <% end %>
  <% else %>
  <%= link_to post_image_favorite_path(@post_image.id), method: :post do %>
    ♡<%= @post_image.favorites.count %>いいね
  <% end %>
<% end %>

<p>コメント件数</p>
<%= @post_image.post_comments.count %>件コメント
<% @post_image.post_comments.each do |post_comment| %>
  <%= image_tag post_comment.user.get_profile_image(50,50) %>
  <%= post_comment.user.name %>
  <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
  <% if post_comment.user == current_user %>
    <%= link_to '削除',post_image_post_comment_path(post_comment.post_image.id, post_comment.id), method: :delete %>
  <% end %>
<% end %>

<%= form_with model: [@post_image, @post_comment] do |f| %>
  <label for= "inputname">コメントする</label>
  <%= f.text_area :comment, id:"inputname", autofocus: true, placeholder:"コメントする" %>
  <%= f.submit '送信する' %>
<% end %>
